.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-pixelify-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}

.toggle {
  background-color: #555;
  border-radius: 10px;
  padding: 8px 16px;
  color: "white";
  text-align: center;
  flex: 1;
  min-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle:hover {
  background-color: #444;
  cursor: pointer;
}

.song_item {
  font-size: 18px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.song_item:hover {
  background-color: var(--gray-alpha-200);
  cursor: pointer;
}

.toast {
  position: fixed;
  bottom: 80px;
  left: 0;
  right: 0;
  width: auto;
  max-width: 90vw;
  margin: 20px auto;
  background: #222;
  color: #fff;
  text-align: center;
  padding: 1em 2em;
  z-index: 9999;
  font-size: 1.1em;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
